@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Squada+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

header {
    background-color: #fff;
    height: 60px;
    box-shadow: 0px 2px 10px 0px #cacaca;

    position: sticky;
    top: 0;
}

.pembungkus{
    display: flex;
}

nav{
    margin: auto;
    width: 90%;
    align-items: center;
    
    display: flex;
    justify-content: space-between;
    
}

nav img{
    width: 40px;
}

nav a{
    color: #232323;
    text-decoration: none;
    margin-left:20px;
}

nav a:hover{
    color: #d90429;
}

main {
    flex-direction: column;
    
    margin: auto;
    width: 90%;
    height: 600px;
}

section{
    margin-top: 40px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kiri h1{
    color: #232323;
    font-family:'Poppins';
    font-size: 60px;
}

.kiri p{
    font-size: 18px;
}

.button{
    display: inline-block;
    padding: 10px 20px;
    background: #d60606;
    
    margin-top: 40px;
    border-radius: 8px;
}

.button a{
    color: white;
    text-decoration:none;
}

.kanan img{
    height: 400px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px 0px #888888;
}

footer {
    color: #ffffff;
    background-color: #9b0000;
    text-align: center;
    padding: 10px;
}
